.App{
  width: 70%;
  text-align: center;
  background-color: #fff;
  margin-top: 170px;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #08526d9e;
  padding: 0;
}
@media(max-width:600px){
  .App{
    width: 95%;
  }
}